body{
    background: url("https://wallpaperaccess.com/full/4762573.jpg");
}

form{
    width: 300px;
    background: transparent;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.mins, .secs, .time{
    color: #fff;
}

button{
    margin: 0 10px;
}

.btn-group{
    margin-top: 50px;
    margin-left: 80px;
}

.form-group{
    width: 250px;
    padding: 10px;
}

input{
    background: transparent;
}

label{
    color: #fff;
}

.clock {
  padding: 3px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 30%;
  font-size: 24px;
}
.progress-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-ring__circle {
  transition: 0.5s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: rgb(51, 65, 255);
}

.danger {
    stroke: rgb(243, 17, 28);
    animation: pulse 0.9s ease-in-out infinite;
  }