<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDUCARE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Images/favicon.ico') }}">
</head>

<body style="background: #2b1055;">
    <header>
        <a class="logo">Educare</a>
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/about" class="active">About</a></li>
            <!-- <li><a href="/todo">Work</a></li> -->
            <li><a href="/team">Team</a></li>
        </ul>
    </header>
    <section style="flex-direction: column;">
        <div>
            <h2>Project: EDUCARE</h2>
        </div>
        <p style="padding: 5% 10%; color: #fff;">
            'EDUCARE' is a student-friendly desktop app which comes with a todo-list functionality that allows you to set a timer for tasks 
            you wish to complete in a specific amount of time. When you finish all your tasks in the time duration you had planned, you will 
            obviously feel gratified and for that we shall reward you. You can listen to a variety of songs depending on your mood and rejuvenate
             yourself after hours of work. Once your mood is set, you can again set goals for yourself in the todo-list app and continue working.
        </p><br><br>
        <h3>Made with ❤️ by <a href="/team" style="color: aquamarine;">Code Crunchers</a>.</h3>
    </section>

</body>

</html>