<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDUCARE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Images/favicon.ico') }}">
</head>

<body>
    <header>
        <a class="logo">Educare</a>
        <ul>
            <li><a href="" class="active">Home</a></li>
            <li><a href="/about">About</a></li>
            <!-- <li><a href="/todo">Work</a></li> -->
            <li><a href="/team">Team</a></li>
        </ul>
    </header>
    <section>
        <img src="{{ url_for('static', filename='Images/stars.jpg') }}" id="stars" alt="">
        <img src="{{ url_for('static', filename='Images/MOON.png') }}" id="moon" alt="">
        <img src="{{ url_for('static', filename='Images/F_M.png') }}" id="mountain_front" alt="">
        <h2 id="text">Code Crunchers</h2>
        <a href="#sec" id="btn">Explore</a>
        <img src="{{ url_for('static', filename='Images/rocket.png') }}" id="rocket" alt="">
    </section>
    <div class="sec" id="sec">
        <h2>Code Crunchers</h2>
        <div class="route">
            <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine"><a href="/todo"><img
                        src="{{ url_for('static', filename='Images/Saly-10.png') }}" alt="" id="productive"
                        class="motion"></a></div>
            <div data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine"><a href="/spotify"><img
                        src="{{ url_for('static', filename='Images/Saly-13.png') }}" alt="" id="lazy"
                        class="motion"></a></div>
        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>